h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;   
}


.button-container {
    display: flex;
    gap: 2px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
}


.button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0;
}


.button.selected {
    background-color: lightblue;
}


.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease; 
    outline: none;
}


.search-button:hover {
    background-color: #45a049;
}


.search-button:active {
    background-color: #0a470e;
    transform: scale(0.98);
}


input[type="text"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 20px;
}

button {
    display: block;               
    margin: 0 auto;               
    padding: 10px 20px;           
    font-size: 16px;              
    border-radius: 5px;           
    cursor: pointer;             
    margin-bottom: 20px;          
}
