.discover-page-background {
    background-image: url('/cactusdesert.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    transition: height 0.3s ease;
  }