.login-background {
    background-image: url('movie reel.jpg'); 
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .login-form-container {
    background-color: rgba(173, 217, 244, 0.85);
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: auto; 
    text-align: center;
    width: auto; 
    max-width: 600px; 
    box-sizing: border-box;  
    color: black;
  }
  
  .login-logo {
    display: block;
    margin: 0 auto 1rem;
    max-width: 400px;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 5px;
  }
  
  .login-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .input {
    font-size: 1rem;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .input:focus {
    outline: none;
    border-color: #9e5231;
    box-shadow: 0 0 0 2px rgba(158, 82, 49, 0.3);
  }
  
  .login-button {
    font-size: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #9e5231;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .login-button:hover {
    background-color: #7c3e23;
  }
  
  .login-button.is-halfwidth {
    width: 50%;
  }
  