label {
  color: white;
}

.paper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; 
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid white;
  padding: 10px;
}

.poster {
  flex: 0 1 auto;
  max-width: 300px;
  margin: 10px;
}

form {
  flex: 1 1 500px;
  max-width: 600px;
  max-height: auto;
}

.review-form {
  width: 100%;
  padding: 10px;
}

.form-header {
  text-align: center;
  margin-bottom: 20px; 
}

.form-header h3,
.form-header p {
  margin: 0; 
  color: white;
}



