/* Discover.css */

/* Container for the entire page */
.container {
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  /* Title styling */
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styling for the button group */
  .button-group {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-bottom: 20px;
  }
  
  /* Common button styling */
  .button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Specific styles for the genre buttons */
  .genre-button {
    background-color: gray;
    width: 100%;
    margin: 5px;
    max-width: 150px;
  }
  
  .genre-button.selected {
    background-color: lightblue;
  }

  .button-group .genre-button {
    flex: 1 1 auto; 
    margin: 5px; 
  }
  
  /* Specific styles for the toggle button */
  .andor-button {
    background-color: rgb(75, 211, 48);
    
  }
  
  /* Movie cards container */
  #discovered-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  label {
    color: #B4886B;
    font-weight: bold;
    display: block;  
  }
  
/* Discover.css */

/* Container for the entire page */
.container {
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  /* Title styling */
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styling for the button group */
  .button-group {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-bottom: 20px;
  }
  
  /* Common button styling */
  .button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Specific styles for the genre buttons */
  .genre-button {
    background-color: gray;
    width: 100%;
    margin: 5px;
    max-width: 150px;
  }
  
  .genre-button.selected {
    background-color: lightblue;
  }

  .button-group .genre-button {
    flex: 1 1 auto; 
    margin: 5px; 
  }
  
  /* Specific styles for the toggle button */
  .andor-button {
    background-color: rgb(75, 211, 48);
    
  }
  
  /* Movie cards container */
  #discovered-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  