.profile-bottom {
  margin-top: 20px;
  background: rgba(158, 82, 49, 0.65); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white; 
}

#movie-search {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 16px;
  padding: 10px;
  justify-items: center; 
  margin-top: 20px; 
}

.posterContainer {
  position: relative; 
  width: 150px;
  height: auto;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posterImage {
  width: 100%; 
  height: auto; 
  border-radius: 8px;
  transition: transform 0.3s ease, border 0.3s ease;
}

.posterImage:hover {
  transform: scale(1.05);
  border: 2px solid rgb(99, 180, 176);
}

@media (max-width: 600px) {
  #movie-search {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }

  .posterContainer {
    width: 120px;
  }

  .deleteButton {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
}

.deleteButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(158, 82, 49, 0.85);
  color: white;
  border: none;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex; 
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 0;
  overflow: hidden;
}

.deleteButton:hover {
  background-color: rgba(255, 69, 58, 1);
  transform: scale(1.1);
}

.deleteButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(158, 82, 49, 0.5); 
}
