.profile-body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('/Background Profile.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  padding: 20px;
}

.profile-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-top {
  display: flex;
  gap: 20px;
}

.profile-header {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  max-width: 650px;
}

.profile-calendar {
  flex: 1; 
  border-radius: 10px;
}

.profile-bottom {
  flex: 1; 
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .profile-top {
    flex-direction: column; 
  }

  .profile-header,
  .profile-calendar,
  .profile-bottom {
    width: 100%;
  }
}
