
.MuiCard-root {
    margin:20px;
}

.movie-info-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
  }
  
  .movie-detail-container {
    display: flex;
    justify-content: space-between;  /* This will space the content evenly */
    gap: 20px;  /* Adds a gap between the card and the interactions */
    margin-top: 20px;  /* Optional: adds spacing from the top */
  }
  
 
  .movie-interactions-container {
    width: 300px;  /* Adjust the width based on your design */
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Optional: space between different interaction components */
  }

  .movie-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid white;
    padding: 10px;
  }
  
